Repository kyma-project/api-gateway, pull requests merged in 2023-05, with the labels that each got.

#335 Jwt mandatory doc
  docs/api-rule-cr.md
Labels: lgtm, size/M, area/api-gateway

#336 Add custom domain integration script
  tests/integration/env_vars_custom_domain.sh
  tests/integration/scenario_custom_domain_test.go
  tests/integration/scripts/integration-gardener-custom-domain.sh
Labels: kind/feature, lgtm, size/M, area/ci, area/api-gateway

#338 Fetching workload label selector from service on cluster directly
  config/rbac/role.yaml
  controllers/api_controller_integration_test.go
  controllers/api_controller_test.go
  controllers/apirule_controller.go
  controllers/apirule_controller_status_integration_test.go
  controllers/apirule_controller_validation_integration_test.go
  go.mod
  internal/builders/istio.go
  internal/helpers/common.go
  internal/helpers/namespace.go
  internal/processing/internal/test/test_utils.go
  internal/processing/istio/audience_test.go
  internal/processing/istio/authorization_policy_processor.go
  internal/processing/istio/authorization_policy_processor_test.go
  internal/processing/istio/reconciliation.go
  internal/processing/istio/reconciliation_test.go
  internal/processing/istio/request_authentication_processor.go
  internal/processing/istio/request_authentication_processor_test.go
  internal/processing/istio/virtual_service_processor_test.go
  internal/processing/ory/authorization_policy_processor.go
  internal/processing/ory/reconciliation.go
  internal/processing/ory/request_authentication_processor.go
  internal/processing/processors/authorization_policy_processor.go
  internal/processing/processors/request_authentication_processor.go
  internal/validation/validate.go
  internal/validation/validate_test.go
  tests/integration/features/istio-jwt/istio_jwt.feature
  tests/integration/istio_jwt_test.go
  tests/integration/manifests/istio-jwt-custom-label-selector.yaml
  tests/integration/manifests/testing-helloworld-custom-label-app.yaml
  tests/integration/scenario_jwt_custom_label_selector.go
  tests/integration/test_helpers.go
Labels: lgtm, size/XXL, area/api-gateway

#351 Make authentications required
  controllers/api_controller_integration_test.go
  internal/processing/istio/jwt_validator.go
  internal/processing/istio/jwt_validator_test.go
Labels: lgtm, area/api-gateway, size/L

#347 JWT access strategy docs for Ory and Istio comparison
  docs/api-rule-cr.md
  docs/jwt-ory-to-istio.md
Labels: lgtm, area/api-gateway, size/L

#348 Add Integration tests
  controllers/api_controller_integration_test.go
  controllers/api_controller_test.go
  controllers/apirule_controller.go
  controllers/apirule_controller_status_integration_test.go
  controllers/apirule_controller_validation_integration_test.go
  controllers/suite_test.go
  controllers/types.go
  internal/processing/istio/authorization_policy_processor.go
  main.go
Labels: size/XL, lgtm, area/api-gateway

#352 reuse release.sh script to wait on other jobs
  hack/release.sh
Labels: kind/feature, lgtm, area/ci, area/api-gateway, size/S

#366 Update issue templates
  .github/ISSUE_TEMPLATE/adr.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: lgtm, area/api-gateway, size/XS

#369 Add breaking changes documentation to api-gateway repo
  docs/jwt-ory-to-istio.md
Labels: lgtm, area/api-gateway, size/S
