Repository kyma-project/api-gateway, pull requests merged in 2023-01, with the labels that each got.

#154 Update controller runtime
  api/v1alpha1/apirule_conversion_test.go
  controllers/api_controller_integration_test.go
  controllers/api_controller_test.go
  controllers/api_controlller_reconciliation_test/api_controller_integration_test.go
  controllers/api_controlller_reconciliation_test/suite_test.go
  controllers/suite_test.go
  go.mod
  go.sum
  internal/builders/access_rule_test.go
  internal/builders/builders_suite_test.go
  internal/builders/istio_test.go
  internal/builders/virtual_service_test.go
  internal/processing/istio/access_rule_processor_test.go
  internal/processing/istio/as_validator_test.go
  internal/processing/istio/authorization_policy_processor_test.go
  internal/processing/istio/istio_suite_test.go
  internal/processing/istio/jwt_validator_test.go
  internal/processing/istio/reconciliation_test.go
  internal/processing/istio/request_authentication_processor_test.go
  internal/processing/istio/virtual_service_processor_test.go
  internal/processing/ory/access_rule_processor_test.go
  internal/processing/ory/as_validator_test.go
  internal/processing/ory/jwt_validator_test.go
  internal/processing/ory/ory_suite_test.go
  internal/processing/ory/reconciliation_test.go
  internal/processing/ory/virtual_service_processor_test.go
  internal/processing/processing_suite_test.go
  internal/processing/processors/access_rule_processor_test.go
  internal/processing/processors/processors_suite_test.go
  internal/processing/processors/virtual_service_processor_test.go
  internal/processing/reconciliation_test.go
  internal/processing/status_test.go
  internal/validation/helpers_test.go
  internal/validation/labels_test.go
  internal/validation/validate_test.go
Labels: size/XL, lgtm, area/api-gateway

#155 Update dependabot.yml for release 1.2
  .github/dependabot.yml
Labels: lgtm, area/api-gateway, size/XS

#158 Handle status properly
  .gitignore
  api/v1beta1/apirule_types.go
  controllers/api_controlller_reconciliation_test/suite_test.go
  controllers/apirule_controller.go
  controllers/suite_test.go
  internal/processing/helpers.go
  internal/processing/istio/status.go
  internal/processing/istio/status_test.go
  internal/processing/ory/status.go
  internal/processing/ory/status_test.go
  internal/processing/reconciliation.go
  internal/processing/reconciliation_test.go
  internal/processing/status.go
Labels: lgtm, area/api-gateway, size/L

#166 Add new file for status integration tests and restructure variables
  controllers/api_controller_integration_test.go
  controllers/api_controller_test.go
  controllers/apirule_controller.go
  controllers/apirule_controller_status_integration_test.go
  controllers/reconciliation_test/api_controller_integration_test.go
  controllers/reconciliation_test/suite_test.go
  controllers/suite_test.go
  internal/processing/status.go
Labels: size/XL, lgtm, area/api-gateway

#179 Add subresource finalizer
  controllers/api_controller_integration_test.go
  controllers/apirule_controller.go
  internal/builders/access_rule.go
  internal/builders/access_rule_test.go
  internal/builders/common.go
  internal/builders/istio.go
  internal/builders/istio_test.go
  internal/builders/virtual_service.go
  internal/builders/virtual_service_test.go
  internal/processing/cleaner.go
  internal/processing/cleaner_test.go
  internal/processing/helpers.go
  internal/processing/istio/access_rule_processor_test.go
  internal/processing/istio/authorization_policy_processor.go
  internal/processing/istio/authorization_policy_processor_test.go
  internal/processing/istio/request_authentication_processor.go
  internal/processing/istio/request_authentication_processor_test.go
  internal/processing/istio/virtual_service_processor.go
  internal/processing/istio/virtual_service_processor_test.go
  internal/processing/ory/access_rule_processor_test.go
  internal/processing/ory/virtual_service_processor.go
  internal/processing/ory/virtual_service_processor_test.go
  internal/processing/processors/access_rule_processor.go
  internal/validation/validate.go
  internal/validation/validate_test.go
Labels: size/XL, lgtm, area/api-gateway

#161 Add Istio required scopes
  api/v1beta1/apirule_types.go
  api/v1beta1/authorization.go
  api/v1beta1/rule.go
  controllers/api_controller_integration_test.go
  controllers/api_controller_test.go
  controllers/reconciliation_test/api_controller_integration_test.go
  internal/builders/istio.go
  internal/builders/istio_test.go
  internal/processing/internal/test/test_utils.go
  internal/processing/istio/authorization_policy_processor.go
  internal/processing/istio/authorization_policy_processor_test.go
  internal/processing/istio/jwt_validator.go
  internal/processing/istio/jwt_validator_test.go
  internal/processing/ory/authorization_policy_processor.go
  internal/processing/ory/jwt_validator.go
  internal/processing/ory/jwt_validator_test.go
  internal/processing/processors/authorization_policy_processor.go
  internal/types/istio/jwt.go
  internal/validation/authorizations_validation.go
  internal/validation/helpers.go
  main.go
Labels: lgtm, size/XXL, area/api-gateway

#183 Add Istio JWT doc
  docs/feature-toggle.md
  docs/istio-jwt.md
Labels: lgtm, size/M, area/api-gateway

#191 APIRule conversion failure for v1beta1 resource update on resources created in v1alpha1
  api/v1beta1/apirule_types.go
Labels: lgtm, area/api-gateway, size/XS

#184 Istio JWT full support for namespaces
  internal/helpers/namespace.go
  internal/processing/internal/test/test_utils.go
  internal/processing/istio/authorization_policy_processor.go
  internal/processing/istio/authorization_policy_processor_test.go
  internal/processing/istio/request_authentication_processor.go
  internal/processing/istio/request_authentication_processor_test.go
  internal/processing/istio/virtual_service_processor.go
  internal/processing/ory/virtual_service_processor.go
  internal/processing/processors/access_rule_processor.go
  internal/processing/processors/authorization_policy_processor.go
  internal/processing/processors/request_authentication_processor.go
  internal/validation/validate.go
Labels: lgtm, size/XXL, area/api-gateway
